<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.png')}}">
    <title>Reminder</title>
</head>

<body>

    <div class="main-container">

    <h1>403</h1>
    <p>Accès refusé. Vous n'avez pas les autorisations nécessaires pour accéder à cette page.</p>
    <img src="{{ url_for('static', filename='assets/favicon.png') }}" alt="Reminder logo" width="300" height="300">
    <p><a href="https://conjug.fr" target="blank">Allez plutôt voir conjug.fr !</a></p>

    </div>

</body>

</html>