<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/error.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.png')}}">
    <title>Reminder - 404</title>
</head>

<body>

    <div class="main-container">

    <h1>404</h1>
    <p>Aucune page n'a été trouvée.</p>
    <img src="{{ url_for('static', filename='assets/favicon.png') }}" alt="Reminder logo" width="300" height="300">
    <p><a href="{{ url_for('menu') }}">Retourner au menu ↩️</a></p>

    </div>

</body>

</html>