
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px; /* Ajout de padding pour un peu d'espace sur les bords */
}

.mode {
    width: 100%;
    margin: 10px 0;
}

.mode a {
    display: block;
    padding: 20px 30px;
    text-align: center;
    background-color: #7B61FF; /* Couleur violette principale */
    color: white;
    font-weight: bold;
    text-decoration: none;
    border-radius: 20px; /* Bordures arrondies */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4); /* Légère ombre pour effet de profondeur */
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

.mode a:hover {
    background-color: #6848e3; /* Couleur violette foncée pour effet de survol */
    transform: scale(1.01);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Augmentation de l'ombre au survol */
}

.mode a:active {
    background-color: #4a34b2; /* Couleur encore plus foncée pour effet de clic */
    transform: scale(0.95);
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1); /* Diminution de l'ombre au clic */
}

/* Styles pour l'affichage sur PC */
@media (min-width: 768px) {
    .main-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .mode {
        flex: 1;
    }

    .mode a {
        padding: 30px 40px;
        font-size: 1.3em;
        border-radius: 30px; /* Bordures arrondies */
    }

}
