<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/menu.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.png')}}">
    <title>Reminder</title>
</head>

<body>

    <div class="main-container">

        <div class="newData-container">
            <div class="mode"><a href="{{url_for('new')}}">Créer une nouvelle connaissance</a></div>
        </div>

        <div class="reviewer-container">
            <div class="mode"><a href="{{url_for('reviewer')}}">Entrer en mode révision</a></div>
        </div>

        <div class="database-container">
            <div class="mode"><a href="{{url_for('database')}}">Bibliothèque des connaissances</a></div>
        </div>

    </div>

</body>

</html>