<!DOCTYPE html>

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/information.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.png')}}">

    <!-- Ensures LaTeX compatibility -->
    <script type="text/javascript">
        window.MathJax = {
          tex: {
            inlineMath: [['$', '$'], ['\\(', '\\)']]
          }
        };
      </script>

    <!-- Import MathJax (for LaTeX) -->
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>{{theInfo[4]}}</title>
</head>

<body>

    <!-- Back to menu button -->
    <a href="{{ url_for('menu') }}" class="back-to-menu">↩️</a>

    <div class="main-container">

        {% for data in theInfo %}

            <h1>Information détaillé</h1>

            {% if theInfo|length == 0 %}
            <h2>Erreur, aucune information trouvée.</h2>

            {% else %}

            <div class="dataList-container">
                    
                    <div class="data-container">
                        <div class="data-left">
                            <span class="span-question">{{ data[0] }}</span>
                            <span class="span-answer">{{ data[1] }}</span>
                        </div>
                        <div class="data-right">
                            <span>{{ data[3] }}❇️</span>
                        </div>
                    </div>

                    <div class="delete-button-container">
                        <a href="{{url_for('deleteprocessing', info_id=data[4])}}"><div class="delete-button">Supprimer la connaissance 🧹</div></a>
                    </div>
                
            </div>

            {% endif %}

        {% endfor %}

    </div>

</body>

</html>