<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='css/global.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/new.css')}}">
    <link rel="shortcut icon" href="{{url_for('static', filename='assets/favicon.png')}}">

    <!-- Import mathjax -->
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

    <title>Nouvelle connaissance</title>
</head>
<body>

    <!-- Back to menu button -->
    <a href="{{ url_for('menu') }}" class="back-to-menu">↩️</a>

    <div class="main-container">

        <h1>Nouvelle connaissance</h1>

        <div class="form-container">

                <form action="{{url_for('dataProcessing')}}" method="POST">

                    <textarea type="text" name="newData" id="newData" rows="6" required></textarea>

                    <div class="interact-container">
                        <div class="confirm-button">
                            <input type="submit" value="Créer la connaissance">
                        </div>
                    </div>

                </form>

        </div>

    </div>

</body>
</html>